.root {
	-fx-background-color: #000080;
	-fx-background-radius: 7;
}

.label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 16;
	-fx-background-radius: 7;
	-fx-width: 100;
}

.button {
	-fx-background-color: #3366ff;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 7;
	-fx-background-insets: 1;
}

.button:hover {
	-fx-background-color: #000000;
}

.hyperlink {
	-fx-text-fill: #ffcc00
}

.text-field, .password-field {
	-fx-background-radius: 7;
	-fx-background-color: #bbaaee;
	-fx-text-fill: #000000;
	-fx-width: 150;
}

.urgent {
	-fx-background-color: #ff0000;
}

.remove {
	-fx-color: #ff0000;
	-fx-background-radius: 0;
	-fx-padding: 0;
}