.root {
	-fx-background-color: #92cbde;
	-fx-background-radius: 7;
}

.label {
	-fx-text-fill: #000000;
	-fx-font-size: 16;
	-fx-background-radius: 1;
	-fx-width: 100;
}

.button {
	-fx-background-color: #000000;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 1;
	-fx-background-insets: 1;
}

.button:hover {
	-fx-background-color: #ffffff;
	-fx-text-fill: #000000;
}

.hyperlink {
	-fx-text-fill: #000000;
}

.text-field, .password-field {
	-fx-background-radius: 1;
	-fx-background-color: #ffffff;
	-fx-text-fill: #000000;
	-fx-width: 150;
}

.urgent {
	-fx-background-color: #ff0000;
}

.not-urgent {
	-fx-background-color: #00ff00;
}

.grade-list {
	-fx-background-color: rgba(255, 255, 255, .05);
	-fx-background-radius: 10;
}

.remove-grade {
	-fx-text-fill: #ff0000;
	-fx-background-radius: 10;
	-fx-padding: 0 5;
	-fx-line-height: 20;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
	-fx-background-color: #ffffff;
}

.scroll-pane vbox{
	-fx-background-color: #ffffff;
}

.message-list {
	-fx-background-color: #ffffff;
}

.message-row {
	-fx-alignment: top
}

.my-message-row {
	-fx-alignment: top-right;
}

.my-message-row .label {
	-fx-background-color: #bbccff;
	-fx-border-width: 1;
	-fx-border-color: #aaaaaa;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
}

.other-message-row {
	-fx-alignment: top-left;
}

.other-message-row .label {
	-fx-background-color: #dddddd;
	-fx-border-width: 1;
	-fx-border-color: #aaaaaa;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
}

.chat-input {
	-fx-border-width: 1;
	-fx-border-color: #92cbde;
}